<h2>My Orders</h2>
<div class="mt-4 border p-3 row">
    <div class="detail col-md-9">
        Product Name <br>
        Delivery Date : 20-10-2023 <br>
        Status : Delivary Pending
    </div>
    <div class="detail col-md-3">
        <img src="../../../../assets/aboutCard3.jpg" class="img-fluid">
    </div>
</div>
<div class="mt-4 border p-3 row">
    <div class="detail col-md-9">
        Product Name <br>
        Delivery Date : 20-10-2023 <br>
        Status : Delivary Pending
    </div>
    <div class="detail col-md-3">
        <img src="../../../../assets/aboutCard3.jpg" class="img-fluid">
    </div>
</div>
<div class="mt-4 border p-3 row">
    <div class="detail col-md-9">
        Product Name <br>
        Delivery Date : 20-10-2023 <br>
        Status : Delivary Pending
    </div>
    <div class="detail col-md-3">
        <img src="../../../../assets/aboutCard3.jpg" class="img-fluid">
    </div>
</div>
<div class="mt-4 border p-3 row">
    <div class="detail col-md-9">
        Product Name <br>
        Delivery Date : 20-10-2023 <br>
        Status : Delivary Pending
    </div>
    <div class="detail col-md-3">
        <img src="../../../../assets/aboutCard3.jpg" class="img-fluid">
    </div>
</div>

