.price{
    background-color: black;
    color: white;
    padding: 3px;
    width: 65px;
    display: flex;
    justify-content: center;
}

.card-hover:hover {
    /* Define the styles for hover effect here */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    cursor: pointer;
  }