input{
    width: 70%;
    height: 40px;
    padding: 0px 15px;
    margin: 80px 0px;
    border: 1px solid black;
    border-right: 0px solid black;
}
button{
    width: 45px;
    height: 40px;
    margin: 80px 0px;
    background-color: #46e0d6;
    color: black;
    border: 1px solid black;
}