<h2>My Added Products</h2>
<ng-container *ngFor="let product of myProducts">
    <div class="mt-4 border p-3 row">
        <div class="row">
            <div class="row">
                <div class="detail col-md-9">
                    Product Name : {{product.name}} <br>
                    Sales Price : {{product.price}} <br>
                    Status : <span style="color:green" *ngIf="product.approvalStatus == 'true'">Approved</span> 
                             <span *ngIf="product.approvalStatus == 'false'" style="color:red">Not Approved</span>
                             <span *ngIf="product.approvalStatus == 'rejected'" style="color:red">Rejected</span> <br>
                    <a role="button" class="link-primary" (click)="editProduct()" >Edit</a>
                    <a role="button" *ngIf="product.approvalStatus == 'true'" class="link-primary m-4" (click)="addQuantityShowMethod(product.id)">Add Quantity</a>
                </div>
                <div class="detail col-md-3">
                    <img src="{{product.imageURL}}" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row" *ngIf="activeProductId === product.id">
            <div class="mt-3 border p-3">
                <h5>Add Quantity</h5>
                <div class="row">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Size</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">#</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of parsedValues; let i=index">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{x.first}}</td>
                                <td>{{x.second}}</td>
                                <td>
                                    <a role="button" style="color: Red;" class="link-danger" (click)="deleteQuantity(i,product.id,x.first)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <div class="row p-2">
                    <div class="col-6">
                        <label for="size">Select Size</label>
                        <select class="form-control" id="size" style="width: 150px;" [(ngModel)]="size" name="size"
                            [ngModelOptions]="{standalone: true}">
                            <option value="NA">Not Applicable</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            
                        </select>
                    </div>
        
                    <div class="col-6">
                        <label for="quantity">Quantity</label>
                        <input type="number" name="quantity" class="form-control form-control-color" [(ngModel)]="quantity" id="quantity"
                            value="1" title="Select Quantity" style="width: 100px;" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <a class="btn btn-primary mt-2" (click)="addQuantity()">Add</a>
                <button style="margin-left:10px ;" class="btn btn-primary mt-2" (click)="Submit(product.id)">Submit</button>
            </div>
            
        </div>
    </div>
</ng-container>
 

