<app-filter class="container" 
    (SelectedFilterRadioButton)="onFilterChanged($event)"></app-filter>
<p>{{searched}}</p>
<div class="product-list d-flex flex-wrap justify-content-center" style="background-color: #e0f9f6;">
    <ng-container *ngFor="let product of products" >
        <ng-container *ngIf="selectedRadioButton ==='all' || product.is_in_inventory.toString() === selectedRadioButton">
            <app-product (click) = "selectedProduct = product; showProductDetails = true"
                 [product]="product"
                *ngIf="searched === '' || product.name.toLowerCase().includes(searched.toLowerCase().trim())">
            </app-product>
        </ng-container>
    </ng-container>
</div>
