<div class="container mt-4" style="min-height: 80vh;">
    <div class="row border">
        <div class="col-md-3 border p-2 pb-3">
            <div class="border-bottom p-1">
                <img src="../../../assets/person_icon.png" class="img-fluid" alt="">
            &nbsp; &nbsp; &nbsp; Hello Seller
            </div>
            <a (click)="renderProfile()" class="sideNav text-decoration-none text-dark">
                <div class="p-2 mt-2 profile-nav">
                    <img style="height: 30px; width: 30px;" src="../../../assets/profile_icon.png" alt="" srcset="" class="img-fluid">
                    &nbsp; &nbsp; &nbsp; Company Infromation
                </div>
            </a>
            <a (click)="renderAddShoes()" class="sideNav text-decoration-none text-dark">
                <div class="p-2 mt-2 profile-nav">
                    <img style="height: 30px; width: 30px;" src="../../../assets/order_icon.png" alt="" srcset="" class="img-fluid">
                    &nbsp; &nbsp; &nbsp; Add Shoes
                </div>
            </a>
            <a (click)="renderAddedItems()" class="sideNav text-decoration-none text-dark">
                <div class="p-2 mt-2 profile-nav">
                    <img style="height: 30px; width: 30px;" src="../../../assets/cart_icon.png" alt="" srcset="" class="img-fluid">
                    &nbsp; &nbsp; &nbsp; Added Items
                </div>
            </a>
        </div>
        <div class="col-md-9 border p-3">
            <app-profile *ngIf="profile"></app-profile>
            <app-add-shoes *ngIf="addShoes"></app-add-shoes>
            <app-added-items *ngIf="addedItems"></app-added-items>
        </div>
    </div>
</div>
<router-outlet></router-outlet>